<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDex1dDEc1sMK65ecYM-ogHc39VZF2xDOA</string>
	<key>GCM_SENDER_ID</key>
	<string>856647999156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hireMeSql</string>
	<key>PROJECT_ID</key>
	<string>hire-me-sql-6d7b5</string>
	<key>STORAGE_BUCKET</key>
	<string>hire-me-sql-6d7b5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856647999156:ios:f708d1c1020521bebf01e1</string>
</dict>
</plist>